header.header-home{
    width: 100vw;
    background-color: #fff059;
    
    padding:10px 20px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header.header-home img.logo{
    margin-right: 20px;
    align-self: flex-start;
}

/* Header Home Menu Input Container */
header.header-home .menu-input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    width: 100%;
    max-width: 500px;
    min-width: 300px;
}

/* Header Home Menu Input Container Input Area*/
header.header-home .menu-input-container .input-area{
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.1);

    padding: 0 20px 0 10px;
    max-width: 500px;
    width: 100%;

    background-color: rgba(255,255,255,.6);
    box-shadow: 0 0 10px rgba(0,0,0,.6);
}
header.header-home .menu-input-container .input-area label{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
header.header-home .menu-input-container .input-area label img{
    width: 20px;
    height: 20px;
}
header.header-home .menu-input-container .input-area input{
    padding: 5px 20px 5px 10px;
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    font-size: 1.2em;
    border-left: 1px solid rgba(0,0,0,.1);
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Header Home Menu Input Container Menu Area*/
header.header-home .menu-input-container .menu-area{
    width: 100%;
    margin: 20px 0 10px;
}
header.header-home .menu-input-container .menu-area ul{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
}
header.header-home .menu-input-container .menu-area li{
    list-style-type: none;
}
header.header-home .menu-input-container .menu-area button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgba(0,0,0,.6);
}
header.header-home .menu-input-container .menu-area button:hover{
    color: rgba(0,0,0,1);
}


/* Header Home Right Area */
header.header-home .right-area{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    min-width: 300px;
    height: 100%;
    margin-bottom: 10px;
}
header.header-home .right-area button{
    background-color: transparent;
    border: none;
    margin-left: 20px;
    padding: 0;
    cursor: pointer;
}
header.header-home .right-area img{
    width: 20px;
    height: 20px;
    margin-left: 20px;
    cursor: pointer;
}


/* Media Querys */

@media all and (max-width:780px){
    header.header-home .menu-input-container .menu-area{
        display: none;
    }
    header.header-home .right-area{
        display: none;
    }
}

@media all and (max-width:500px){
    header.header-home{
        flex-direction: column;
    }
    header.header-home img.logo{
        margin-bottom: 20px;
    }
}

@media all and (max-width:350px){
    header.header-home .menu-input-container{
        min-width: 200px;
    }
}