.main-container{
    background-color: rgba(0,0,0,.1);
    
    width: 100%;
    overflow-x: hidden;
}
.main-container .list-item-produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
    overflow-x: hidden;
}